body {
  height: 100%;
  background-color: #f2f2f2;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
#potato {
  height: 100%;
}

.movies {
  width: 85%;
  margin: 25px auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.movies a {
  display: contents;
}