.movies .movie {
  width: 40%;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
  display: flex;
  flex-shrink: 0;
  margin: 40px 0;
  padding: 20px 20px 40px 20px;
  border-radius: 5px;
}
.movies .movie img {
  height: 200px;
  box-shadow: 0 1px 10px rgba(0,0,0,.5);
  margin-right: 10px;
  position: relative;
  top: -40px;
}
.movies .movie .movie__data {
  margin-left: 15px;
}
.movies .movie ul {
  list-style:none;
  display: flex;
  padding: 0;
}
.movies .movie ul li:not(li:first-child) {
  margin-left: 5px;
}
.movies .movie h5,
.movies .movie p,
.movies .movie ul {
  color: #999;
  margin:0;
}

.movies .movie p{
  margin-top: 20px;
}

.movies .movie h3 {
  margin: 0;
}